
# General

*.log
*.tmp
*.swp
.DS_Store
Thumbs.db

# Environment variables

.env
.env.*
*.env

# Node.js / Frontend

node_modules/
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Android / Kotlin

*.iml
.gradle/
local.properties
/.idea/
.cxx/
build/
captures/
.externalNativeBuild/

# APK files
*.apk
*.aab


# Java / Kotlin

*.class
out/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env/

# Laravel / PHP

vendor/
node_modules/
storage/*.key
storage/logs/
bootstrap/cache/

# Database

*.sqlite
*.db

# OS / Editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln